*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #E7E7E7;
    padding-top: 100px;
}

header{
    display: flex;
    align-items: center;
}

header img{
    height: 36px;
    margin-right: 16px;
}

header h1{
    font-size: 40px;
    font-weight: bold;
}

.container{
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input{
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
    border-radius: 4px;
}

form button{
    background-color: #ee3633;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
}

.form-campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Espaço entre cada campo */
}

.form-campo label {
    font-size: 20px; /* Tamanho da fonte do label */
    margin-bottom: 5px; /* Espaço entre o label e o input */
}

.form-campo input {
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
    border-radius: 4px;
}
